---
import { SITE } from 'astrowind:config';
import Image from "./common/Image.astro";
const logoImg = '~/assets/images/logo.png';
---

<div
  class="self-center flex flex-row ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logoImg} alt="Ravelgram Logo" width={30} /> 
  <span class="ml-2">{SITE?.name}</span>
</div>
